.subtitle {
    font-size: 24px;
    font-weight: 400;
    color: #ADB9C7;
    position: absolute;
    left: 0px;
    top:400px;

}

.center {
    text-align: left;
}

.left {
    text-align: left;

}